[Desktop Entry]
Type=Application
Name=MikoStorm
Exec=mikostorm
Comment=Client for virtual worlds
Icon=mikostorm_icon
Categories=Development;
Terminal=true
